* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .post {
    list-style: none;
    padding-left: 0;
  }
  
  .post > li {
    /* margin-bottom: 20px;
    border: 1px solid grey;
    padding: 20px; */
  }
  
  .post {
    display: block;
    color: black;
    /* font-style: italic;
    font-size: 20px; */
    margin-bottom: 15px;
  }
  .js-post-title {
    font-size: 20px;
    font-weight: 800;
 } 
  .js-post-author {
    font-size: 10px;
  }
  .js-post-content {
    font-size: 12px;
  }
  .js-post-publishDate {
    font-size: 10px;
  }